/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$brand-primary= #235b4e;
$brand-secondary= #272829;
$brand-danger= #d0021b;
$brand-input= #555770;
$oro= #b38e5d;
$grey= #545454;
$green-light= #3c9c86;
$green-dark= #163a32;

$lightgray= #efefef;

$white= #fff;
$black= rgba(0, 0, 0, 0.8);


body 
    color $brand-primary
